# Backend API base URL used by the frontend.
NEXT_PUBLIC_API_URL=http://localhost:8080

# Production:
# NEXT_PUBLIC_API_URL=https://api-mysawit.shurkou.com
#
# Staging:
# NEXT_PUBLIC_API_URL=https://stgapi-mysawit.shurkou.com
